/HTTPSWebClient/*.suo
/HTTPSWebClient/*.ncb
/HTTPSWebClient/Debug
/HTTPSWebClient/Release
/HTTPSWebClient/jpeglib/Debug
/HTTPSWebClient/jpeglib/Release
/HTTPSWebClient/jpeglib/*.user
/HTTPSWebClient/HTTPSWebClient/Debug
/HTTPSWebClient/HTTPSWebClient/Release
/HTTPSWebClient/HTTPSWebClient/*.aps
/HTTPSWebClient/HTTPSWebClient/*.user
