/HTTPSWebClient/*.suo
/HTTPSWebClient/*.ncb
/HTTPSWebClient/Debug
/HTTPSWebClient/Release
/HTTPSWebClient/jpeglib/Debug
/HTTPSWebClient/jpeglib/Release
/HTTPSWebClient/jpeglib/*.user
/HTTPSWebClient/HTTPSWebClient/Debug
/HTTPSWebClient/HTTPSWebClient/Release
/HTTPSWebClient/HTTPSWebClient/*.aps
/HTTPSWebClient/HTTPSWebClient/*.user
/HTTPSWebClient/pic_trans/Debug
/HTTPSWebClient/pic_trans/Release
/HTTPSWebClient/pic_trans/*.aps
/HTTPSWebClient/pic_trans/*.user
/HTTPSWebClient/pnglib/Debug
/HTTPSWebClient/pnglib/Release
/HTTPSWebClient/pnglib/*.user
/HTTPSWebClient/zlib/Debug
/HTTPSWebClient/zlib/Release
/HTTPSWebClient/zlib/*.user
/other_tools
/字模1000
/字模1000.tar.bz2
/CodeMode.rar
/samples
/HTTPSWebClient/CDN_SWITCH_debug
/HTTPSWebClient/HTTPSWebClient/CDN_SWITCH_debug
/HTTPSWebClient/jpeglib/CDN_SWITCH_debug
/HTTPSWebClient/pic_trans/CDN_SWITCH_debug

/HTTPSWebClient/pnglib/CDN_SWITCH_debug
/HTTPSWebClient/zlib/CDN_SWITCH_debug
/HTTPSWebClient/HTTPSWebClient/config.bin
